/*pueba*/
/*css moodle*/

textarea#id_s_theme_workplace_scsspre,
#id_s_theme_workplace_scss {
    min-height: 90vh;
}
/**/

.btn-primary {
    background-color: #FF0000!important;
    border-color: #FF0000!important;
}

/**/
@media(min-width:768px){
    
    .pagelayout-standard #page.drawers .main-inner, 
    body.limitedwidth #page.drawers .main-inner {
        max-width: 90%!important;
        background: #ebebeb;
    }
    
}

body,
#page.drawers .main-inner {
    background-color: #ebebeb!important;
}
/*heaver Nav*/

.navbar.fixed-top {
    /* background-color: red!important; */
    background: #122024!important;
    color:#ffffff;
    border-bottom:none!important
}

.navbar.fixed-top a{
    color:#ffffff!important;
}

.navbar.fixed-top div#user-action-menu a, 
.navbar.fixed-top .workplace-menu a,
.navbar.fixed-top .tenantswitch a.dropdown-item{
    color: unset!important;
}

.moremenu .nav-link{
    opacity:0.8;
}
.moremenu .nav-link:hover, .moremenu .nav-link:focus,
.moremenu .nav-link.active {
    background-color: unset!important;
    border:none!important;
    box-shadow:unset!important;
    opacity: 1;
}

.moremenu .more-nav li.nav-item:nth-child(4) {
    order: -1;
}

@media(min-width:768px){
    .primary-navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*h3 margen raro*/
#page-content h3 {
    margin-left: unset!important;
}

/*my*/

#page-my-index .page-context-header h1{
    display:none!important;
}


/*barra menu cursos - foros*/

.drawer-toggles .drawer-toggler{
    top: calc(60px + 02rem)!important;
}

.drawer-left a{
color:#ffffff!important;
}

.drawer-right a {
    color: #1d2125!important;
}
.courseindex .courseindex-item.pageitem{
    background: #FF0000!important;
}

.drawer{
	background-color: #122024!important;
}

.drawerheader button {
    color: #fff!important;
}

@media (min-width: 992px){
    .drawer-left, .drawer-right {
        top: 88px!important;
        height: calc(100vh - 74px)!important;
    }
}

/*login*/

#page-login-index div#page {
    padding-top: 0px!important;
}

#page-login-index form#login {
    display: none;
}

#page-login-index .alert.alert-danger {
    display: none;
}

#page-login-index .login-container .login-logo {
    display: none;
}

@media (min-width: 768px){
    #page-login-index .login-wrapper {
        justify-content:center!important;
        padding: 0!important;
    }
}

#page-login-index .login-container {
    border-radius: 20px;
    padding: 25px 65px!important;
}

#page-login-index .login-identityproviders .btn {
    background: #005AFA;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: block;
    width: 100%;
}

#page-login-index h2.login-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #122024;
}


/*cursos reset*/
.course header#page-header,
.course .secondary-navigation.d-print-none,
.path-course header#page-header,
.path-course .secondary-navigation.d-print-none{
    display:none
}

.section .label .contentwithoutlink, .section .label .activityinstance{
    padding-right:unset!important;
}

.path-course.editing header#page-header,
.path-course.editing .secondary-navigation.d-print-none,
.course.editing header#page-header,
.course.editing .secondary-navigation.d-print-none {
    display:unset!important
}

.course section#region-main,
.path-course section#region-main{
    background-color: transparent!important;
}

/*
  .course .activity.activity-wrapper,
  .path-course .activity.activity-wrapper{
      background-color:#fff!important;
      margin:15px 0 35px;
      padding:10px 15px;
      border-radius:20px;
  }
*/

.format-onetopic .activity-item.hiddenactivity {
  background-color: unset!important;
  border:none
}

.format-onetopic #region-main {
    background-color: unset;
    width: unset!important;
}

.format-onetopic.path-mod.path-mod-page #page-header,
.format-onetopic.path-mod.path-mod-page .secondary-navigation.d-print-none {
    display: none;
}

.format-onetopic.path-mod.path-mod-page.editing #page-header,
.format-onetopic.path-mod.path-mod-page.editing .secondary-navigation.d-print-none {
    display: block;
}


.format-onetopic.path-mod-page .card-header {
    background-color: unset!important;
}

.format-onetopic.path-mod-page .card {
    background-color: unset;
}


.format-onetopic li.activity.page.modtype_page{
    visibility:hidden
}

.format-onetopic.editing li.activity.page.modtype_page{
    visibility:visible;
}

.format-onetopic div#format_menutopic_menu {
    display: none;
}

.format-onetopic.editing div#format_menutopic_menu {
    display: block;
}



.format-onetopic.editing .single-section h3.sectionname { display:block}

/*CURSOS CSS BASE*/

/*course header*/
.ba-course_header{
    min-height: 146px;
    background: #D9D9D9;
}

ul.course-breadcrumb{
    list-style: none!important;
}

ul.course-breadcrumb li {
    margin: 10px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 0.004em;
}

ul.course-breadcrumb li a{
    color: #122024;
}

.ba-btns{
    display: flex;
    justify-content: end;
}

.ba-btns .ba-btn {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    background-color: #005AFA!important;
    border: 2px solid #005AFA!important;
    margin: 10px;
}

.ba-btns .ba-btn a {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

.ba-btns .ba-btn.ba-btn_foro{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    border:none!important;
    color: #005AFA;
    background-color: unset!important;
    box-shadow: unset!important;
}

.ba-btns .ba-btn.ba-btn_foro a{
    color: #005AFA;
}

.ee-box{
    background-color: #ffffff;
    min-height: 300px;
    padding: 35px 20px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition:all ease .5s;
}

.ee-box .ee-box_title h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #122024;
}

.ee-box .ee-box_descripcion p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.ee-box:hover {
    background: #122024;
    transition:all ease .5s;
}

.ee-box:hover .ee-box_title h3,
.ee-box:hover p{
    color:#ffffff!important;
}

.ee-box:hover .ee-box_title h3 a {
    color: #ffffff;
}

.ee-box:hover .btn.ba-btn {
    background: #00EEA4;
    border-radius: 5px;
}

.ee-box:hover .ba-btn a{
    font-style: normal;
    font-weight: 700;
    color: #122024;
    text-decoration:unset;

}

.bloque_blanco{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 35px 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(12, 26, 75, 0.24);
    margin-bottom: 43px;
}

/*bloque colapsable*/
.ba-acordeon_title h5 a{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 112%;
    /* identical to box height, or 112% */
    letter-spacing: 0.02em;
    color: #122024;
    display: block;
    width: 100%;
    position: relative;
}

.ba-acordeon_title h5 a:after {
    content: '\f077';
    font-size:20px!important;
    /* margin-left: auto; */
    display: inline-block;
    position: absolute;
    right: 0;
    font: normal normal normal 14px/1 FontAwesome;
}

.ba-acordeon_title h5 a.collapsed:after {
    content: '\f078'!important;
}

.ba-examen-simple .ba-acordeon_title h5 a:after {
    content: '\f054'!important;
}

.ba-acordeon_contenido{
  transition: all ease .6s;
  opacity: 0;
}

.ba-acordeon_contenido.show{
  opacity: 1;
}


@media(min-width:768px){
    .ee-box {
        max-width: 50%!important;
        flex: 0 0 46%!important;
    }

    .format-onetopic .activity-item:not(.activityinline){
        padding:unset!important
    }

}


@media(max-width:767px){

    .format-onetopic .course-content ul.topics li.section .content {
        margin: 0px!important;
    }

    .bloque_blanco {
        margin: 10px 0!important;
    }
    
    section#region-main {
        width: 100%!important;
    }

}


/*barra izq */

/*para que se vea la barra de la izq*/
.format-onetopic .drawer.drawer-left /*cursos*/,
#page-my-index .drawer.drawer-left /*my*/,
#page-site-index .drawer.drawer-left /*inicio*/ {
    visibility: visible;
    left: unset!important;
}


/*para que se ajuste el contenido*/
.format-onetopic #page-wrapper #page/*cursos*/,
#page-my-index #page-wrapper #page/*my*/,
#page-site-index #page-wrapper #page/*inicio*/ {
    width: calc(100% - 300px)!important;
    margin-left: auto;
}


/*estilo de botones -ajustar - */
.format-onetopic .drawer-primary .drawercontent .list-group .list-group-item/*cursos*/,
#page-my-index .drawer-primary .drawercontent .list-group .list-group-item/*my*/ ,
#page-site-index .drawer-primary .drawercontent .list-group .list-group-item/*inicio*/{
    background-color: unset!important;
}

.format-onetopic .drawer-primary .drawercontent .list-group .list-group-item.active/*cursos*/, 
#page-my-index .drawer-primary .drawercontent .list-group .list-group-item.active/*my*/, 
#page-site-index .drawer-primary .drawercontent .list-group .list-group-item.active/*inicio*/{
    background-color:red!important;
    border-color:red!important;
}

/*Primer reseter jp*/
/*--------------------------------------------*/
/*
cuestionarios css base
*/

body.format-onetopic.category-12{
    scroll-behavior: smooth;
}

.format-onetopic.category-12:not(.editing) div#completionprogressid{
    display: none!important;
}

.path-backup.cm-type-quiz .mform .root_setting:nth-of-type(even), .path-backup .mform .grouped_settings:nth-of-type(even) {
    background-color: unset!important;
}

.format-onetopic.category-12 .activity.quiz.modtype_quiz {
    visibility:hidden; 
}

.format-onetopic.category-12.editing .activity.quiz.modtype_quiz {
    visibility:unset!important
}

body#page-mod-quiz-view.category-12 footer#page-footer,
body#page-mod-quiz-view.category-12 nav.navbar.fixed-top,
body#page-mod-quiz-view.category-12 .drawer,
body#page-mod-quiz-view.category-12 .drawer-toggles .drawer-right-toggle,
body#page-mod-quiz-view.category-12 .drawer-toggler.drawer-right-toggle {
    display: none;
}

#page-mod-quiz-view.category-12 header#page-header,
#page-mod-quiz-view.category-12 .secondary-navigation,
#page-mod-quiz-view.category-12 .activity-navigation{
    display:none!important
}

#page-mod-quiz-attempt.category-12 footer#page-footer,
#page-mod-quiz-attempt.category-12  nav.navbar.fixed-top,
#page-mod-quiz-attempt.category-12 .drawer,
#page-mod-quiz-attempt.category-12 .drawer-toggler.drawer-right-toggle {
    display: none;
}

body#page-mod-quiz-view.category-12 div#page {
    margin: 0 auto!important;
    min-height: 100vh!important;
}

#page-mod-quiz-attempt.category-12 header#page-header,
#page-mod-quiz-attempt.category-12 .secondary-navigation,
#page-mod-quiz-attempt.category-12 .activity-navigation{
    display:none!important
}

#page-mod-quiz-attempt.category-12.editing header#page-header,
#page-mod-quiz-attempt.category-12.editing .secondary-navigation,
#page-mod-quiz-attempt.category-12.editing .activity-navigation{
    display:block!important
}

body#page-mod-quiz-summary.category-12 footer#page-footer,
body#page-mod-quiz-summary.category-12 nav.navbar.fixed-top,
body#page-mod-quiz-summary.category-12 .drawer {
    display: none;
}

body#page-mod-quiz-summary.category-12 div#page {
    margin: 0 auto!important;
    min-height: 100vh!important;
}

#page-mod-quiz-summary.category-12 header#page-header,
#page-mod-quiz-summary.category-12 .secondary-navigation,
#page-mod-quiz-summary.category-12 .activity-navigation{
    display:none!important
}

body#page-mod-quiz-review.category-12 footer#page-footer,
body#page-mod-quiz-review.category-12 nav.navbar.fixed-top,
body#page-mod-quiz-review.category-12 .drawer {
    display: none;
}


body#page-mod-quiz-review.category-12 div#page {
    margin: 0 auto!important;
    min-height: 100vh!important;
}

#page-mod-quiz-review.category-12 header#page-header,
#page-mod-quiz-review.category-12 .secondary-navigation,
#page-mod-quiz-review.category-12 .activity-navigation{
    display:none!important
}

#page-mod-quiz-view.category-12.editing header#page-header,
#page-mod-quiz-view.category-12.editing .secondary-navigation,
#page-mod-quiz-view.category-12.editing .activity-navigation,
#page-mod-quiz-review.category-12.editing header#page-header,
#page-mod-quiz-review.category-12.editing .secondary-navigation,
#page-mod-quiz-review.category-12.editing .activity-navigation{
    display:block!important
}

body#page-mod-quiz-attempt,
body#page-mod-quiz-attempt #page.drawers .main-inner, 
body#page-mod-quiz-attempt #page.drawers .main-inner,
body#page-mod-quiz-attempt #page-content{
    background-color: transparent!important;
    background: transparent!important;
    color:unset!important;
    padding: 0;
    margin: 0;
}

body#page-mod-quiz-view,
body#page-mod-quiz-view #page.drawers .main-inner, 
body#page-mod-quiz-view #page.drawers .main-inner,
body#page-mod-quiz-view #page-content{
    background-color: transparent!important;
    background: transparent!important;
    color:unset!important
}

body#page-mod-quiz-summary.category-12,
body#page-mod-quiz-summary.category-12 #page.drawers .main-inner, 
body#page-mod-quiz-summary.category-12 #page.drawers .main-inner,
body#page-mod-quiz-summary.category-12 #page-content{
    background-color: transparent!important;
    background: transparent!important;
    color:unset!important
}

body#page-mod-quiz-review,
body#page-mod-quiz-review #page.drawers .main-inner, 
body#page-mod-quiz-review #page.drawers .main-inner,
body#page-mod-quiz-review #page-content{
    background-color: transparent!important;
    background: transparent!important;
    color:unset!important
}


body#page-mod-quiz-sumary,
body#page-mod-quiz-sumary #page.drawers .main-inner, 
body#page-mod-quiz-sumary #page.drawers .main-inner,
body#page-mod-quiz-sumary #page-content{
    background-color: transparent!important;
    background: transparent!important;
    color:unset!important
}

#page-mod-quiz-summary.format-onetopic.category-12  #wp-site-status-disclaimer,
#page-mod-quiz-review.format-onetopic.category-12  #wp-site-status-disclaimer,
#page-mod-quiz-view.format-onetopic.category-12  #wp-site-status-disclaimer,
#page-mod-quiz-attempt.format-onetopic.category-12  #wp-site-status-disclaimer{
    display:none!important
}

.category-12 .drawer-toggler.drawer-right-toggle.ml-auto.d-print-none{
    display: none;
}

#page-mod-quiz-view.category-12 .singlebutton.quizstartbuttondiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#page-mod-quiz-view.category-12  .activity-header:not(:empty){
    background-color: transparent!important;
    padding: 0!important;
    margin-bottom: 0!important;
}

body.category-12:not(.editing) .container-fluid.tertiary-navigation a.btn.btn-secondary {
    display:none!important
}



/*
css de los elementos de las encuestas
*/

#page-mod-quiz-attempt.category-12 .que .info {
    display: none;
}

#page-mod-quiz-attempt.category-12 .que .content {
    margin: unset!important;
}

#page-mod-quiz-view.format-onetopic.category-12 h1,
#page-mod-quiz-view.format-onetopic.category-12 h2,
#page-mod-quiz-view.format-onetopic.category-12 h3,
#page-mod-quiz-view.format-onetopic.category-12 h4,
#page-mod-quiz-view.format-onetopic.category-12 h5,
#page-mod-quiz-view.format-onetopic.category-12 h6,
#page-mod-quiz-attemp.format-onetopic.category-12 h1,
#page-mod-quiz-attemp.format-onetopic.category-12 h2,
#page-mod-quiz-attemp.format-onetopic.category-12 h3,
#page-mod-quiz-attemp.format-onetopic.category-12 h4,
#page-mod-quiz-attemp.format-onetopic.category-12 h5,
#page-mod-quiz-attemp.format-onetopic.category-12 h6,
#page-mod-quiz-review.format-onetopic.category-12 h1,
#page-mod-quiz-review.format-onetopic.category-12 h2,
#page-mod-quiz-review.format-onetopic.category-12 h3,
#page-mod-quiz-review.format-onetopic.category-12 h4,
#page-mod-quiz-review.format-onetopic.category-12 h5,
#page-mod-quiz-review.format-onetopic.category-12 h6,
#page-mod-quiz-summary.format-onetopic.category-12 h1,
#page-mod-quiz-summary.format-onetopic.category-12 h2,
#page-mod-quiz-summary.format-onetopic.category-12 h3,
#page-mod-quiz-summary.format-onetopic.category-12 h4,
#page-mod-quiz-summary.format-onetopic.category-12 h5,
#page-mod-quiz-summary.format-onetopic.category-12 h6{
    color:unset!important
}

#page-mod-quiz-attempt.category-12 .que .formulation {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #122024;
    background-color: #fff;
    border: none;
}

#page-mod-quiz-attempt.category-12 .que .ablock{
    padding-bottom: 10px;
}

#page-mod-quiz-attempt.category-12 .submitbtns {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
}

#page-mod-quiz-attempt.category-12 .que .qtext p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #122024;
}

/*estilo del curso que va a llevar el cuestionario*/

body#page-course-view-onetopic.category-12 div#theme_boost-drawers-primary {
    display: none;
}

.format-onetopic.category-12 #page-wrapper #page{
    width:100%!important;
    margin: auto!important;
}

body.format-onetopic.category-12,
body.format-onetopic.category-12 #page.drawers .main-inner, 
body.format-onetopic.category-12 #page.drawers .main-inner,
body.format-onetopic.category-12 #page-content{
    background-color: #122023!important;
    background: #122023!important;
    color:#ffffff
}

body.format-onetopic.category-12 .activity-item:not(.activityinline){
    border:none!important;
}

body.format-onetopic.category-12 h1,
body.format-onetopic.category-12 h2,
body.format-onetopic.category-12 h3,
body.format-onetopic.category-12 h4,
body.format-onetopic.category-12 h5,
body.format-onetopic.category-12 h6{
    color:#ffffff
}

/*
pantalla de devoluciones
*/

#page-mod-quiz-review.category-12 table.quizreviewsummary th,
#page-mod-quiz-review.category-12 table.quizreviewsummary th.cell{
    background-color: transparent!important;
    border: none!important;
}

#page-mod-quiz-review.category-12 .generaltable tbody tr:nth-of-type(odd) {
    background-color: transparent;
    /* display: inline-flex; */
}

#page-mod-quiz-review.category-12 tr:last-child th.cell[scope="row"] {
    display: none;
}

#page-mod-quiz-review.category-12 table.generalbox.quizreviewsummary tbody {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

#page-mod-quiz-review.category-12 tr:last-child  td.cell {
    width: 100%!important;
    display: block;
}

#page-mod-quiz-review.category-12 .generaltable th, 
#page-mod-quiz-review.category-12 .generaltable td {
    border:none!important;
    background:transparent!important;
}

#page-mod-quiz-review.category-12 .generaltable tbody tr:last-child {
    order: -1;
}


#page-mod-quiz-view.category-12 .generalbox#feedback {
    width: unset;
    text-align: center;
    display:none;
}

#page-mod-quiz-view.category-12 .generalbox#feedback h3 {
    text-align: center;
}

#page-mod-quiz-view.category-12 .cuestionario-ba h1,
#page-mod-quiz-view.category-12 .generalbox#feedback h3{
    display:block!important;
}

#page-mod-quiz-view.category-12 table.generaltable.quizattemptsummary,
#page-mod-quiz-view.category-12  .generalbox#feedback h3:nth-child(2),
#page-mod-quiz-view.category-12 .automatic-completion-conditions,
#page-mod-quiz-view.category-12 h3,
.box.py-3.quizinfo p:nth-child(2) {
    display:none!important;
}

#page-mod-quiz-view.category-12 #page.drawers .activity-header .activity-information {
    display: none;
}


#page-mod-quiz-view.category-12 div#feedback {
    order: -1;
}

#page-mod-quiz-view.category-12 #page.drawers div[role="main"] {
    display: flex;
    flex-direction: column;
}


/*

elemento html del curso cuestionario 

*/

.cuestionario-ba,
.cuestionario-ba h1,
.cuestionario-ba h2,
.cuestionario-ba h3,
.cuestionario-ba h4,
.cuestionario-ba h5,
.cuestionario-ba h6{
    color:#122023!important
}

#page-mod-moodleoverflow-post h1,
#page-mod-moodleoverflow-post h2,
#page-mod-moodleoverflow-post h3,
#page-mod-moodleoverflow-post h4,
#page-mod-moodleoverflow-post h5,
#page-mod-moodleoverflow-post h6,
.format-topics h1,
.format-topics h2,
.format-topics h3,
.format-topics h4,
.format-topics h5,
.format-topics h6{
    color:unset!important;
}

/*
h1,
h2,
h3,
h4,
h5,
h6{
    color:#ffffff
}
*/

.quest-ba-header{
	margin: 0px 0 45px;
}

.quest-ba-header h1{
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0.02em;
	color: #122024;
}

.quest-ba-descripcion{
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #122024;
}

.quest-ba-item{
	margin-bottom: 40px;
}

.quest-ba-item:last-child{
	margin-bottom: 0px;
}

.quest-ba-item_txt{
	width: 70%;
	margin-left: 2%;
}

.quest-ba-item_txt p{
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 0px;
	color: #122024;

}

.quest-ba-contenido h1{
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0.02em;
	color: #122024;
	text-align: center;
}

.quest-ba-contenido .quest-ba-descripcion{
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	color: #122024;
	text-align: center;
}

a.ba-btn-gray {
	background-color: #EBEBEB!important;
	border-color: #c8c8c8!important;
	color: #121f23;
}


/*fin css moodle*/

/* reseter ba */
th, td{
    border:none;
}

#usernavigation i.icon,
#usernavigation .popover-region-notifications i.icon {
    color: #ffffff!important;
}

#usernavigation .popover-region-content,
#usernavigation .popover-region-content p,
#usernavigation .popover-region-content a{
    color: #122024;
}

body:not(.editing) .drawer-toggler.drawer-right-toggle.ml-auto.d-print-none {
    display: none!important;
}

body:not(.editing) .drawer-toggler.drawer-left-toggle.open-nav.d-print-none {
    display: none!important;
}

form.editmode-switch-form label {
    color: #ffffff!important;
}

/*fin reseter*/


body.format-onetopic,
body.format-onetopic p,
body.format-onetopic a,
body.format-onetopic ul.course-breadcrumb li a{
    font-family: "Inter",sans-serif!important;
}

body.format-onetopic h1,
body.format-onetopic h2,
body.format-onetopic h3,
body.format-onetopic h5,
body.format-onetopic h4,
body.format-onetopic h6,
body.format-onetopic button{
    font-family:"Titillium Web",sans-serif!important
}


@media(min-width:991px){

  .format-onetopic:not(.editing) #page-wrapper #page, 
  #page-my-index:not(.editing) #page-wrapper #page, 
  #page-site-index:not(.editing) #page-wrapper #page {
      width: calc(100% - 285px)!important;
  }

  .pagelayout-standard.format-onetopic:not(.editing) #page.drawers .main-inner, 
  body.limitedwidth.format-onetopic #page.drawers .main-inner{
      padding:0px!important;
      max-width: 100%!important;
  }

  .format-onetopic:not(.editing) #page-wrapper #page, 
  #page-my-index #page-wrapper #page, 
  #page-site-index #page-wrapper #page{
      padding: 0px!important;
  }

  .format-onetopic:not(.editing) .course-content ul.topics li.section .content {
      padding: 0px!important;
      margin: 0px!important;
  }

  .format-onetopic:not(.editing) .course-content ul.section{
      margin: 0px!important;
      padding: 0px!important;
  }

  .format-onetopic:not(.editing) #page.drawers div[role="main"]{
      padding: 0px!important;
  }

  .format-onetopic:not(.editing) .activity-item.activityinline {
      padding: 0px!important;
  }

  .format-onetopic:not(.editing) .course-content .single-section{
      margin: 0px!important;
  }

  .format-onetopic:not(.editing) .section .activity.modtype_label.label {
      padding: 0px!important;
      margin: 0px!important;
  }

  .format-onetopic:not(.editing)  ul.onetopic {
    padding-left: 0px;
  }

  .format-onetopic:not(.editing) div[data-for="sectioninfo"] {
    margin: 0px!important;
  }

  .format-onetopic:not(.editing) .tabs-wrapper {
    display: none;
  }

}

/*
---------------------------------------------------------------------------------------------------------------
        ------------------------------------- Contra-ajustes -------------------------------------
---------------------------------------------------------------------------------------------------------------
*/

.pagelayout-incourse .drawer-right {
    display: none!important;
}

.format-onetopic.category-12 ul.section.img-text {
    margin: 100px 0 0px!important;
}

.category-12.format-onetopic .drawer.drawer-left {
    display: none!important;
}


.format-onetopic:not(.editing) .drawer-toggler.drawer-right-toggle.ml-auto.d-print-none {
    display: none;
}


.format-onetopic.category-12:not(.editing) #page-wrapper #page {
    width: 100%!important;
}

body.format-onetopic.category-12:not(.editing) #region-main h2:nth-child(4) {
    display: none!important;
}

.format-onetopic:not(.editing) #region-main h2:nth-child(4) {
    display: none!important;
}

.format-onetopic:not(.editing) .box.py-3.generalbox.center.clearfix {
    padding: 0px!important;
}


body.format-onetopic.category-12:not(.editing) div#topofscroll {
    margin:0px!important;
}

@media (min-width:991px) {

    .ba-container{
        max-width: 80%;
        margin: auto;
    }
}

.ba-container h1,
.ba-container h2,
.ba-container h3,
.ba-container h4,
.ba-container h5,
.ba-container h6{
    
    color: unset!important;
    
}

/*ajuste para formulario*/
#page-mod-quiz-view:not(.editing) .quizinfo p.text-left {
    display:none!important
}

/*footer ocultar si no se esta editando*/
body:not(.editing) #page-wrapper #page-footer{
    display: none!important;
}

/* ajuste botones en  plantillas */

/*ajuste de regla que oculta h2 y h3 impuesta en el css de BA*/
.format-onetopic #region-main div[role="main"] h2, 
.format-onetopic #region-main div[role="main"] h3{
    display:unset;
		color: unset;
}

.format-onetopic #region-main div[role="main"] .single-section h3.sectionname {

	display:none!important

}

.bloque_blanco .btn-primary {
    color: #fff;
    background-color: #005AFA!important;
    border-color: #005AFA!important;
    border-radius: 10px;
    padding-left:35px;
    padding-right:35px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05rem;
}

.ba-btns .ba-btn{
    border-radius: 10px;
    padding-left:25px;
    padding-right:25px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05rem;
    padding-top: 21px;
    padding-bottom: 21px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.bloque_blanco li.tarea_semanal {
    list-style: none;
}
.ba-borde_verde{
    border-left: 8px solid #00EEA4;
}
.ba-borde_purple{
    border-left: 8px solid #9747FF;
}

/* footer de actividades */

.pagelayout-incourse:not(.editing) .activity-navigation {
    visibility:hidden;
}

/* fin footer de actividades */

/*header plantilla btns*/

@media(max-width:1442px){

    .ba-course_header  .ba-btns .ba-btn a {
        font-size: 16px!important;
    }
    
}

/*
------------------------------- 
Barra
-------------------------------
*/

.courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item {
    color: #fff;
}

/*botonera blockacademy*/

.drawer-left .drawerheader,
.drawer-primary .drawercontent .list-group {
    display: none;
}

.format-onetopic .drawer-left .drawercontent{
    height: 100%!important;
}

.format-topics .drawer.drawer-left .drawercontent.drag-container {
    height: 100%;
}

.format-onetopic #courseindex-content {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    padding-left: 18px;
}

#ba-botonera ul{
    padding: 0px;
    font-family: 'inter','sans-serif';
    width: 100%;
    margin: 0;
}

#ba-botonera ul li{
    padding: 18px 0 18px 15px;
    border-bottom: 2px solid #ffffff;
}

#ba-botonera ul li:last-child{
    border-bottom: none;
    width: 100%;
}

#ba-botonera ul li a{
    color:#ffffff;
    padding: 18px;
    font-size: 14px;
}
#ba-botonera ul li a i{
    font-size: 24px;
    margin-right: 20px;
}

/*
---------------------------------------------
************** notificaciones ***************
---------------------------------------------
*/

.all-notifications .content-item-container.notification{
    padding: 10px 15px !important;
}

.all-notifications .content-item-container.notification a {
    color: #121f25!important;
    padding: 0 10px!important;
}


.all-notifications .content-item-container.notification a.view-more {
    color: #0559fa!important;
}


.all-notifications .content-item-container.notification a:focus,
.all-notifications .content-item-container.notification a:hover,
.all-notifications .content-item-container.notification:hover a.view-more{
    color:#fff!important;
    background-color: #0559fa!important;
}

/*
-----------------------------------
------------- FOROs Ajustes EE ----------------
-----------------------------------
*/

.format-topics div#topofscroll {
    padding: 0px!important;
}

.format-topics:not(.editing) .course-section-header.d-flex {
    display: none!important;
}

.format-topics:not(.editing) .my-3[data-for="sectioninfo"] {
    display:none!important;
}

.format-topics:not(.editing) .course-content ul.topics li.section, 
.format-topics:not(.editing) .course-content ul.weeks li.section{
    padding:0px!important;
}

.format-topics:not(.editing) li.activity.activity-wrapper.moodleoverflow{
    display:none!important
}

/*actividad foro*/

.format-topics .ba-course_header .input-group input.form-control,
.format-topics .ba-course_header .input-group button.btn.btn-primary.search-icon{
    height: 60px;
}

.format-topics .ba-course_header .input-group input.form-control {
    border: 1px solid #999999;
    border-radius: 10px 0 0px 10px;
}

.format-topics .ba-course_header .input-group button.btn.btn-primary.search-icon{
    
    background: #EBEBEB!important;
    color:#122024!important;
    width:70px!important;
    border: 1px solid #999999!important;
    border-radius: 0px 10px 10px 0px;
}

.format-topics .ba-course_header  .simplesearchform .btn .icon{
    font-size:20px
}

.format-topics .ba-course_header .simplesearchform {
    margin-right: 10px;
}

#page-mod-moodleoverflow-view .ba-couser_headersbtns {
    display:flex!important;
}

#page-mod-moodleoverflow-view tr.discussion {
    border-bottom: 2px solid #999999;
}

#page-mod-moodleoverflow-view tr.discussion:last-child{
    border-bottom:none;
}

/* pagina de posteos en foros*/

#page-mod-moodleoverflow-discussion #page.drawers .activity-header,
#page-mod-moodleoverflow-discussion .activity-description{
    display: block!important;
}
#page-mod-moodleoverflow-discussion #page.drawers .activity-header{
    margin:unset!important;
    padding:unset!important;
}

#page-mod-moodleoverflow-view .ba-course_header{
    margin-bottom: 74px;
}

#page-mod-moodleoverflow-view .singlebutton.align-middle.m-2 {
    display: none;
}

#page-mod-moodleoverflow-discussion .ba-course_header .ba-couser_headersbtns{
    display: none!important;
}

/* Tabla de foros */

.moodleoverflowheaderlist ._Estado_,
.moodleoverflowheaderlist ._No_leídos_,
.moodleoverflowheaderlist ._Review_{
    display: none;
}

.moodleoverflowheaderlist td.discussionsubscription {
    display: none;
}

.moodleoverflowheaderlist th.header.discussionsubscription._ {
    display: none;
}

.moodleoverflowheaderlist td.topic.starter._Tema_ {
    max-width: 300px!important;
}

#page-mod-moodleoverflow-view th.header.lastpost._Último_mensaje_,
#page-mod-moodleoverflow-view td.lastpost._{
    padding-right:40px!important;
}

/* Tabla de foros */

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts{
    padding:30px 20px;
    max-width: 80%;
    margin:auto;
    background-color: #ffffff;
    border-radius: 10px!important;
    overflow: hidden;
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts #moodleoverflow-posts{
    padding:0px;
    max-width:unset;
    background-color: unset;
    border-radius: unset;
    overflow: unset;
}


#page-mod-moodleoverflow-discussion #region-main h3{
    display:none!important;
}

#page-mod-moodleoverflow-discussion #region-main h1.discussionname {
    color: unset;
    max-width: 80%;
    margin:auto;
    display: none!important;
}

#page-mod-moodleoverflow-discussion.format-topics:not(.editing) #page.drawers div[role="main"]{
    padding-top:60px!important;
    
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .moodleoverflowpost.firstpost.starter,
#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .moodleoverflowpost{
    border:none!important;
    border-radius:0px!important; 
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .moodleoverflowpost.firstpost.starter{
    border-bottom:2px solid #EBEBEB!important;
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .tmargin:last-child{
    border-bottom:none!important
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .moodleoverflowpost .d-flex.p-2 {
    padding:0!important
}

#page-mod-moodleoverflow-discussion.format-topics #moodleoverflow-posts .tmargin{
    border-radius:0px!important;
    border-bottom:2px solid #EBEBEB!important;
}

#page-mod-moodleoverflow-discussion.format-topics #region-main div[role="main"] h2{
    color:unset!important;
    padding: 0px!important;
    margin-bottom: 15px!important;
    display: block!important;
    font-size: 18px;
    font-weight: 600;
    height: unset!important;
}

/* -- ajustes en posteos  de foros -- */
#page-mod-moodleoverflow-discussion .moodleoverflowpost .attachments img {
    max-width: 100%!important;
    max-height: unset!important;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .answercell{
    flex-direction:column!important;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-text {
    order: 1;
    margin-top: 20px;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .attachments {
    order: 2;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost span.edited,
#page-mod-moodleoverflow-discussion .moodleoverflowpost span.edited a{
    color: #aaa;
    font-size: 14px;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-menu.BA-foromenu {
    order: 10;
    margin-bottom: 30px;
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-end; */
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a:last-child {
    margin-left: auto!important;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-menu.BA-foromenu a {
    border-right: none!important;
    margin-right: 40px!important;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-menu.BA-foromenu a:focus,
#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-menu.BA-foromenu a:hover{
    text-decoration:none;
    color: #005AFA;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a:before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size:25px;
    margin-right:10px;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Respuesta:before,
#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Comentar:before {
    content: '\f075'; 
    color: #005AFA;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Marcado_como_Resuelto:before{
    content: '\f005'; 
    /*color: #fcaf17;*/
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.No_resuelto:before{
    content: '\f006'; 
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Borrar:before {
    content: '\f1f8';
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Editar:before {
    content: '\f044';
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Enlace_permanente:before {
    content: '\f0c1';
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.Marcar_como_útil:before{
    content:'\f087';
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a.No_útil:before{
    content:'\f088';
}



@media(max-width:1440px){
    #page-mod-moodleoverflow-discussion .moodleoverflowpost .post-menu.BA-foromenu a{
        font-size:16px;
        margin-right:10px!important;
    }

    #page-mod-moodleoverflow-discussion .moodleoverflowpost .BA-foromenu a:before{
        font-size:16px;
    }
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-info .post-menu {
    display: none;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost  .ba-preguntaforo h1.discussionname {
    display:block!important;
}

#page-mod-moodleoverflow-discussion #region-main .answercell h1.BA-titleForo {
    display: block!important;
    width: 100%;
    max-width: unset;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #122024;
    padding-left: unset!important;
    height: unset!important;

}

#page-mod-moodleoverflow-discussion .answercell div#moodleoverflow-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:45px;
    margin-top: -20px;
}

#page-mod-moodleoverflow-discussion .answercell .tag_list.hideoverlimit.moodleoverflow-tags b,
#page-mod-moodleoverflow-discussion .answercell .tag_list a.badge.badge-info.standardtag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px!important;
    line-height: 22px;
    color: #999999;
    background-color:unset;
}

#page-mod-moodleoverflow-discussion .answercell .user-action-time {
    display: none!important;
}

#page-mod-moodleoverflow-discussion .answercell .ba-preguntaforo {
    padding-top: 15px;
    padding-bottom: 5px;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .commentcell {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column!important;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .commentcell  .comment-text {order:1;}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .commentcell .attachments {
    order: 3!important;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost.commentcell .post-info {
    order:0;
}

#page-mod-moodleoverflow-discussion .moodleoverflowpost .post-info .user-details a ,
.moodleoverflowpost .commentcell .leftbox.questioner a{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #122024;
}

/* -- escribir posteos -- */


#page-mod-moodleoverflow-post form#mformmoodleoverflow {
    max-width: 80%;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 20px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* -- pagina de posteos en foros -- */

@media(min-width:991px){


    .format-topics:not(.editing) #page-wrapper #page {
        width: calc(100% - 285px)!important;
    }

    .format-topics:not(.editing) #region-main {
        width: 100% !important;
    }
    
    .pagelayout-standard.format-topics:not(.editing) #page.drawers .main-inner, 
    body.limitedwidth.format-topics #page.drawers .main-inner{
        padding:0px!important;
        max-width: 100%!important;
    }
    
    .format-topics:not(.editing) #page-wrapper #page{
        padding: 0px!important;
    }
    
    .format-topics:not(.editing) .course-content ul.topics li.section .content {
        padding: 0px!important;
        margin: 0px!important;
    }
    
    .format-topics:not(.editing) .course-content ul.section{
        margin: 0px!important;
        padding: 0px!important;
    }
    
    .format-topics:not(.editing) #page.drawers div[role="main"]{
        padding: 0px!important;
    }
    
    .format-topics:not(.editing) .activity-item.activityinline {
        padding: 0px!important;
    }
    
    .format-topics:not(.editing) .course-content .single-section{
        margin: 0px!important;
    }
    
    .format-topics:not(.editing) .section .activity.modtype_label.label {
        padding: 0px!important;
    }
    
}

.format-topics #region-main div[role="main"] h2, 
.format-topics #region-main div[role="main"] h3{
    display:unset!important;
}

.format-topics.course .activity.activity-wrapper, 
.format-topics.path-course .activity.activity-wrapper {
    background-color: unset!important;
    padding: 0!important;
    border-radius: 0px!important;
    margin: 0px 0 35px!important;
}

.format-topics .ee-box:nth-child(odd) {
    margin-right:30px!important;
}

/*ajustes foros individuales*/
.path-mod-moodleoverflow .activity-description,
.path-mod-moodleoverflow #region-main h2:nth-child(3),
.format-topics.path-mod-moodleoverflow  #region-main div[role="main"] h2:first-child{
    display: none!important;
}

.path-mod-moodleoverflow:not(.editing) #page-header,
.path-mod-moodleoverflow:not(.editing) .activity-header,
.path-mod-moodleoverflow:not(.editing) .secondary-navigation{
    display:none!important
}

.format-topics.path-mod-moodleoverflow #region-main div[role="main"] .ba-course_header h2{
    display: block!important;
    color: unset;
}

.format-topics.path-mod-moodleoverflow #intro{
    padding: 0!important;
}

.path-mod-moodleoverflow #region-main{
    background:unset!important;
}

table.moodleoverflowheaderlist.generaltable {
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}

/*cuestionario examen final*/


.format-onetopic.cm-type-quiz  .drawer-left {
    display:none;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) #page-wrapper #page{
    width:100%!important;
    
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) header#page-header,
.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) h3,
.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) table.generaltable.quizattemptsummary,
.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) #page.drawers .activity-header .activity-information,
.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) .secondary-navigation{
    display:none!important
}

#page-mod-quiz-view.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) {
    background-color:#122023!important
}


#page-mod-quiz-view.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) div#page-content {
    max-width: 80%;
    margin: auto;
    background-color:#fff!important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#page-mod-quiz-view.format-onetopic.cm-type-quiz:not(.editing):not(.category-12)  div#page-content {
    margin-top:100px!important;  
}

#page-mod-quiz-view.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) .activity-header:not(:empty) {
    background-color: #fff;
    padding: 80px 70px;
    margin: unset!important;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) .quizstartbuttondiv .btn-primary {
    background: #005AFA!important;
    border-radius: 10px;
    border: #005AFA;
    padding: 15px 30px;
    font-family: 'Roboto'!important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.singlebutton.quizstartbuttondiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) .tertiary-navigation{
    display:none;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) div#page-content {
    margin-top: 40px!important;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) form#responseform {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 100px 40px 50px!important;
    max-width: 80%;
    margin: 90px auto;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) #page-wrapper #page {   
    background: #F5F5F5;
}

.format-onetopic.cm-type-quiz:not(.editing):not(.category-12) form#responseform .que .formulation {
    color: #001a1e;
    background-color: unset!important;
    border:none!important;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) form#responseform .que .info{
    display:none!important;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) form#responseform .que .content{
    margin:unset!important;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) form#responseform .que .qtext{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #122024;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) form#responseform  .formulation select{
    margin:5px;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) .submitbtns{
    margin-top:60px;
    margin-bottom:10px;
}

#page-mod-quiz-attempt:not(.editing):not(.category-12) .submitbtns .btn {
    background: #005AFA!important;
    border-radius: 10px;
    border-color: #005AFA!important;
    padding: 15px 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
}


/* fin cuestionario examen final */

/*
responsive
*/

/*responsive cursos y barra*/
@media(max-width:991px){
    .format-onetopic .drawer.drawer-left, 
    #page-my-index .drawer.drawer-left, 
    #page-site-index .drawer.drawer-left{
        visibility:hidden;
    }

    .drawer.drawer-left.d-print-none.show{
        visibility:unset!important;
        width:100%!important;
        max-width:unset;
    }

    .drawer-left.show .drawerheader{
        display:block;
    }
    
    .format-onetopic #page-wrapper #page, #page-my-index #page-wrapper #page, #page-site-index #page-wrapper #page {
        width: 100%!important;
        
    }

    /*diseño de curso*/
    .data-tarea_semanal {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start!important;
    }
}

